
<div class="container m-0 p-5" id="card-container">
	<h3 id="welcome-head" class="ms-5">Welcome <span id="welcome-bold">James</span>!</h3>

	<div id="carouselExample" class="carousel slide mt-4">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<div class="card mb-3">
					<div class="row g-0">
						<div class="col-md-4">
							<img src="img/loans.gif" class="img-fluid rounded-start" alt="...">
						</div>
						<div class="col-md-8">
							<div class="card-body">
								<h4 class="card-title">Car Loan</h4>
								<p class="card-text mb-0"><b>Under Name:</b> Test</p>
								<p class="card-text mb-0"><b>Current Associate:</b> Test</p>
								<p class="card-text mb-0"><b>Loan Amount:</b> P50,0000</p>
								<hr>
								<div class="d-flex">
									<p class="card-text mb-0 flex-fill"><b>Interest:</b> 5%</p>
									<p class="card-text mb-0 flex-fill"><b>Date Applied:</b> 08/13/2023</p>
									<p class="card-text mb-0 flex-fill"><b>Term: </b> 2 years</p>
								</div>
								
								<br>
								<button type="button" class="btn btn-info d-flex ms-auto">View</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<img src="..." class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item">
				<img src="..." class="d-block w-100" alt="...">
			</div>
		</div>

		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
			<i class="fa-solid fa-circle-chevron-left"></i>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
			<i class="fa-solid fa-circle-chevron-right"></i>
			<span class="visually-hidden">Next</span>
		</button>
	</div>

</div>

<div class="container m-0 p-5" id="application-panel">
	<h4 class="ms-5">Current applications</h4>

	<div class="row row-cols-3 row-cols-md-3 g-4" id="card-group">
		<div class="col">
			<div class="card">
				<div class="card-header"></div>
				<div class="card-body">
					<div class="alert alert-warning p-1 d-flex w-50" role="alert">
						<small><i class="fa-solid fa-circle" id="bullet"></i>  Inactive</small>
					</div>
					<h5 class="card-title">Housing Loan</h5>
					<p class="card-text mb-0"><b>Under Name:</b> Test</p>
					<p class="card-text mb-0"><b>Current Associate:</b> Test</p>
					<p class="card-text"><b>Loan Amount:</b> P50,000</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<div class="card-header"></div>
				<div class="card-body">
					<div class="alert alert-warning p-1 d-flex w-50" role="alert">
						<small><i class="fa-solid fa-circle" id="bullet"></i>  Inactive</small>
					</div>
					<h5 class="card-title">Housing Loan</h5>
					<p class="card-text mb-0"><b>Under Name:</b> Test</p>
					<p class="card-text mb-0"><b>Current Associate:</b> Test</p>
					<p class="card-text"><b>Loan Amount:</b> P50,000</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<div class="card-header"></div>
				<div class="card-body">
					<div class="alert alert-warning p-1 d-flex w-50" role="alert">
						<small><i class="fa-solid fa-circle" id="bullet"></i>  Inactive</small>
					</div>
					<h5 class="card-title">Housing Loan</h5>
					<p class="card-text mb-0"><b>Under Name:</b> Test</p>
					<p class="card-text mb-0"><b>Current Associate:</b> Test</p>
					<p class="card-text"><b>Loan Amount:</b> P50,000</p>
				</div>
			</div>
		</div>
	</div>
</div>